main {
    text-align: justify;
    margin: auto;
    padding: 10px;
}

article {
    margin-bottom: 70px;
}

section {
    word-wrap: break-word;
    overflow-wrap: break-word;
}

h1, h2 {
    text-align: center;
}

.imgtopbot {
    text-align: center;
}

blockquote {
    font-size: 13px;
}

picture {
    width: 100%; 
    text-align: center; 
}

picture, img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.tooltip {   
    margin: 0%;
    position: relative;
    display: inline;
    border-bottom: 1px dotted black;    
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 200px;    
    background-color: black;
    color: antiquewhite;
    text-align: center;
    padding: 5px 5px;
    border-radius: 6px;

    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -100px;

    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: black transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

footer a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}
  
footer a:hover {
    background-color: #A7B8CD;
    color: black;
}
  
footer .previous {
    margin-top: 20px;
    margin-bottom: 5px;
    float: left;
    background-color: #BBA386;
    color: black;
    border-radius: 5px;
}