#selfie {
    border-radius: 8px;
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contatos a {
    color: black;
    text-decoration: none;
}

#contatos a:hover {
    color: #A7B8CD;
}

address {
    display: inline;
}

.previous {
    border: none;
    border-radius: 5px;    
    background-color: #BBA386;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.previous:hover {
    background-color: #A7B8CD;
    color: white;
}

.previous:hover a{
    color: white;
}
