* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

.header {
    padding: 5em;
    text-align: center;
    background: #CDBCA7;
    color: black;
}

.header h1 {
    font-size: 2.5em;
}

.navbar {
    overflow: hidden;
    background-color: #BBA386;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 0.875em 1.25em;
    text-decoration: none;
}

.navbar a.right {
    float: right
}

.navbar a:hover {
    background-color: #A7B8CD;
    color: black;
}

@media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
}

.main {
    padding: 1.25em;
}

.main h2 {
    margin-bottom: 1.25em;
}

.main h3, .main p {
    margin: 1.25em 0;
}

.previous {
    border: none;
    border-radius: 0.3125em;    
    background-color: #BBA386;
    padding: 0.9375em 2em;
    text-align: center;
    display: inline-block;
    font-size: 1em;
    margin: 0.25em 0.125em;
    transition-duration: 0.4s;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.previous:hover {
    background-color: #A7B8CD;
    color: white;
}

.previous:hover a {    
    color: white;
}

.footer {
    padding: 1.25em;
    text-align: center;
    background-color: #BBA386;
}

.footer p {
    margin-bottom: 0.3125em;
}

@media screen and (max-width: 700px) {
    .row {
      flex-direction: column;
    }
}