/* 
    Color scheme

    Main color: #CDBCA7
    Monochromatic: #BBA386
    Complementary: #A7B8CD
    Analogous 1: #CBCDA7
    Analogous 2: #CDA9A7
    Triadic 1: #A7CDBC
    Triadic 2: #BCA7CD
    Tetradic 1: #A7CDA9
    Tetradic 2: #A7B8CD
    Tetradic 3: #CDA7CB

*/

* {
    font-family: 'Times New Roman', Times, serif;
}

body{            
    background-color: #CDBCA7;
}

header {
    margin-top: 0.67em;
    margin-bottom: 0.67em;
    margin-left: 0;
    margin-right: 0;
}

header a {
    font-size: 2em;    
    font-weight: bold;
    text-decoration: none;
    color: black;
}

#menu ul{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to right, #BBA386, #bba38600);
}

#menu li{
    float: left;
    border-right: 1px solid white;
}

#menu li:last-child {
    border-right: none;
}

#menu li a{
    display: block;            
    color: white;        
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover:not(.active) {
    color: black;
}

#menu .active {
    background-color: black;
}


footer #licenses {
    background-color: #BBA386; /* Monochromatic */
    color: #FFFFFF;
    padding: 20px 10px;
    text-align: center;
    font-size: 0.9rem;
    border-top: 20px solid #CDBCA7; /* Main color */
}

footer a {
    color: #A7B8CD; /* Complementary */
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    color: #CDA9A7; /* Analogous 2 */
    text-decoration: underline;
}

footer .container {
    width: 100%;
    margin: 0 auto;
} 