aside {
    width: 25%; /* Ajuste conforme necessário */
    padding: 15px;
    margin: 0 0 15px 15px; /* Espaço à esquerda */
    float: right; /* Mantém o índice à direita */
    background-color: #BBA386;
    border-radius: 12px;
}

article {
    overflow: hidden; /* Evita problemas com o float */
}

article p {
    text-align: justify; /* Para margens mais equilibradas */
}

aside h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

aside ol, aside ul {
    padding-left: 20px;
}

aside a {   
    color: black; 
    text-decoration: none;
}

aside a:hover {
    color: #A7B8CD;
    text-decoration: underline;
}


#bottom-buttons {
    margin-top: 5%;
    margin-bottom: 10%;
}

#bottom-buttons .previous {
    margin-left: 20%;
    float: left;
    border-radius: 8%;
    background-color: #BBA386;
    color: black;
}

#bottom-buttons .next {
    margin-right: 20%;
    float: right;
    border-radius: 8%;
    background-color: #BBA386;
    color: black;
}

#bottom-buttons a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
}

#bottom-buttons a:hover {
    background-color: #A7B8CD;
}
